@import 'tailwindcss';


@font-face {
  font-family: 'champiosBold';
  src: url('./fonts/Roboto/Champions-Bold.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@theme {
  --font-roboto: "Roboto";
  --font-sans: "Work Sans";
  --font-champions: "champiosBold";
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --color-primary: #db2841;
  --color-black: #333333;
  --color-letters: #707070;
  --color-primary-400: #e0e0e0;
  --color-primary-500: #b8b8b8;
  --color-primary-600: #9b9b9b;
  --color-primary-700: #7e7e7e;
  --color-primary-800: #616161;
  --color-primary-900: #464646;
  --color-primary-1000: #2b2b2b;
  --color-primary-1100: #000000;
  --color-primary-1200: #000000;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

#app {
  margin: 0 auto;
  padding: 0rem;
  font-weight: normal;
}